# ADD Function

In [2]:
def add(a,b):
    sum=a+b
    print("Your Result is ",sum)
add(5,6)

Your Result is  11

# Function Who will round ceil the number with out using ceil & flour

In [3]:
user=input("Enter Number")

def RoundDown(user):
    
    a=user.split(".")
    print(a[0])
    
RoundDown(user)

Enter Number45.6
45

# File Handling

In [15]:
#File reading
import csv
with open('Data.csv', 'r') as csvFile:
    reader = csv.reader(csvFile)
    for row in reader:
        print(row)
csvFile.close()

['Profile URL', 'First Name ', 'Last Name', 'Phone', 'Rating', 'Reviews']
['http://www.zillow.com/profile/jsokody/', 'Jason', ' Sokody', '(716) 402-5869', '5.0/5.0', '367 total reviews (94 local) Review 08/12/2019:']
['http://www.zillow.com/profile/WesternNY/', 'Matt', ' Quagliano', '(716) 471-9266', '5.0/5.0', '46 total reviews (38 local) Review 08/28/2019:']
['http://www.zillow.com/profile/The-Giambra-Team/', 'Nicholas', ' Giambra', '(716) 239-6432', '5.0/5.0', '75 total reviews (57 local) Review 07/16/2019:']

In [27]:
import csv

with open('Dataa.csv', mode='w') as file:
    writer = csv.writer(file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)

    #way to write to csv file
    writer.writerow(['Muhammad ','Hammad','Akram'])

In [39]:
class Snake:

    def __init__(self, name):
        self.name = name

    def change_name(self, new_name):
        self.name = new_name
 # two variables are instantiated
python = Snake("python")
anaconda = Snake("anaconda")

 # print the names of the two variables
print(python.name)
python
print(anaconda.name)
anaconda

python
anaconda